# A comma-separated list of extensions to load on startup (leave empty for default)
BOT_EXTENSIONS=
# The bot token from your Discord application at https://discord.com/developers/applications
BOT_TOKEN=
