# The OAuth2 client ID of your Discord application
DISCORD_CLIENT_ID=
# The OAuth2 client secret of your Discord application
DISCORD_CLIENT_SECRET=
# The (sub)domain that the webserver will run on
DOMAIN=
# Toggle debug mode in services (0 or 1)
DEBUG=0

# A comma-separated list of extensions to load on startup (leave empty for default)
BOT_EXTENSIONS=
# The bot token from your Discord application
BOT_TOKEN=

# The database password to use
DB_PASSWORD=
# The database user to use
DB_USER=postgres
# The database name to use, usually the same name as the user
DB_DATABASE=postgres
# The database port to use
DB_PORT=5432

# A random string to use for signing session cookies
WEB_SECRET_KEY=
